{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": ["@babel/plugin-proposal-class-properties", "babel-plugin-styled-components"],
  "ignore": ["**/__tests__", "**/*.test.js", "**/__mocks__", "node_modules/**"]
}
